
/******************
       INDEX
******************/

#grilla-index {

    display: grid;
    grid-template-areas:
    "menucito menucito"
    "cabeza cabeza"
    "productos productos"
    "pie pie";
    grid-template-rows: 0.1fr 0.2fr 2fr 0.1fr; 
    grid-template-columns: auto 15%;
    grid-column-gap: 10px;
    grid-row-gap: 5px;

}
    





.publicidad-index{
        border: 1px solid black;
        width: auto;
}

.header-index {
    border: 1px solid black;
    width: auto;}

/*Nombres Grid Index*/

.menu-index{
    grid-area: menucito;
}


.header-index {
    grid-area: cabeza ;
    text-align: center;
    font-size: xx-large;
    
}

#indexPie {
    grid-area: pie;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.divTitulo {
    width: auto;
    height: auto;
}


section#productos-index {
    width: auto;
    height: auto;
    grid-area: productos;
    display: flex; 
    flex-flow: row wrap; 
    justify-content: space-between;
    text-align: center;
    justify-content: baseline;
    background-color: #f8ef42;
    background-image:
    linear-gradient(315deg, #f8ef42 0%, #0fd64f 74%);
}

section#servicios {
    grid-area: servicios;}








    .menu-index{
        background-color:black ;}
    
    ul li {
        display: inline-block;}

    ul li a {
        color: white;
        text-decoration: none;
        display: block;
        padding:10px;}

    .menu-index ul li a:hover{
        background-color: #42B881;}
        
        .menu ul li a:hover{
            background-color: #42B881;}
.textoFooter {
    color: grey;
    font-family: 'Lucida Sans';
    font-size: larger;}

.mercadoPagoOff {
    width: 80%;
    height: 80%;
    border: solid black 3px;}

.buscar input{
        width: 240px;
        height: 40px;
        padding: 0 20px;
        font-size: 18px;
        color: black ;
        outline: none;
        border: 1px solid silver;
        border-radius: 30px;
        background-color: lightgreen;
        position:absolute padding 5px;
        object-position: center;}

.textoDescuento {
    font-size: large;
    font-family: 'Gill Sans';
    color: crimson;}

.foto20off {
    width: 5%;
    height: 10%;
    border: solid black 2px;}

