
/******************
       INDEX
******************/

#grilla-index {
    display: grid;
    grid-template-areas:
    "menucito menucito"
    "cabeza cabeza"
    "productos productos"
    "pie pie";
    grid-template-rows: 0.1fr 0.2fr 2fr 0.1fr; 
    grid-template-columns: auto 15%;
    grid-column-gap: 10px;
    grid-row-gap: 5px;

}
    








/*Nombres Grid Index*/

.menu-index{
    grid-area: menucito;
}


.header-index {
    grid-area: cabeza ;
    text-align: center;
    font-size: xx-large;
    
}

#indexPie {
    grid-area: pie;
    position: fixed;
    bottom: 0;
    width: 100%;
}




#productos-index {
    grid-area: productos ;
    display: flex; 
    flex-flow: row wrap; 
    justify-content: space-between;
    text-align: center;
    justify-content: baseline;
}


.sillasDescuentos {
    width: 500px;
    height: 500px;
    text-align: center;
}



    .menu-index{
        background-color:black ;}
    
    ul li {
        display: inline-block;}

    ul li a {
        color: white;
        text-decoration: none;
        display: block;
        padding:10px;}

    .menu-index ul li a:hover{
        background-color: #42B881;}
        
        .menu ul li a:hover{
            background-color: #42B881;}
.textoFooter {
    color: grey;
    font-family: 'Lucida Sans';
    font-size: larger;}

.mercadoPagoOff {
    width: 80%;
    height: 80%;
    border: solid black 3px;}

.textoDescuento {
    font-size: large;
    font-family: 'Gill Sans';
    color: crimson;}
